<section class="hero" id="main_banner">
	<div class="container">
		<div class="col-xs-12 col-sm-10 col-md-8">
			<h1>At få oprettet og styret sine juridiske dokumenter, burde ikke være så indviklet og dyrt, som det er nu.</h1>
		</div>
	</div>
</section>
<section class="hero blue_bg hero_smaller">
	<div class="container">
	  <div class="col-xs-12 col-sm-10 col-md-8">
	    <div class="title_button_wrap">
	      <h1>Med Aftalebanken er det simpelt og billigt, for alle.</h1>
	      <%= link_to "Kom igang", new_user_registration_path, class: "default-btn1" %>
	      <p class="p-info">Det tager kun få minutter.</p>
	    </div>
	  </div>
	</div>
</section>