/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require documents
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700');
$dark: #274c5e;
$blue2: #6f8c9c;
$blue1: #1c75bc;
$gray: #797979;
$yellow: #ffbd02;
$black: #4a4a4a;
$white: #f7f7f7;
$dark2: #10558c;



body {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1;
	color: $dark;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}
.dark {
	background-color: $yellow !important;
	border: 1px solid #d4ab36 !important;
}
.nav-item {
	margin-left: 15px;
}
.nav-link {
	transition: 0.15s;
	color: $gray !important;
	margin-left: 10px;
	&:hover {
		opacity: 0.8;
	}
}
.navbar {
	font-size: 0.9em;
	border-bottom: 1px solid rgba(193, 193, 193, 0.3);
	background-color: rgba(255, 255, 255, 0.92);
	box-shadow: 0px 0px 2px rgba(204, 204, 204, 0.68);
	padding: 10px 15px;
  border-top: 2px solid #368bd4;
  font-weight: 400;
  .nav-link {
  	padding-top: 0.3em;
		padding-bottom: 0.3em;
  }
  .nav-a {
  	margin-top: 5px;
  } 
  .navbar-brand {
  	color: $blue1;
  	font-size: 1.5em;
  	font-weight: 300;
  	transition: 0.15s;
  	&:hover {
  		opacity: 0.8;
  		color: $blue1;
  	}
  	span {
  		font-weight: 700;
  	}
  }
  .nav-logo{
  	width: 34px;
    padding-bottom: -8px;
    margin-top: -3px;
    margin-right: 8px;
  }
}
.default-btn1 {
	padding: 10px 30px;
  border: 1px solid #1b6eb1;
  background-color: #1c75bc;
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: none;
  box-shadow: 0px 1px 1px rgba(49, 49, 49, 0.25);
  transition: 0.15s;
  &:hover {
  	color: #FFFFFF;
  	opacity: 0.8;
  	text-decoration: none;
  }
}
.default-btn2 {
	background-color: #1c75bc;
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  color: #FFFFFF !important;
  box-shadow: 0px 1px 1px rgba(187, 187, 187, 0.81);
  text-decoration: none;
  font-weight: 400;
  transition: 0.15s;
  border: 1px solid #1b6eb1;
}
footer {
  width: 100%;
  padding: 20px 0;
  background-color: #368bd4;
  border-top: 1px solid #3b64a0;
  color: #FFFFFF;
}
.wrapper {
	margin: 80px 0 60px;
}
.p-info {
	color: $black;
  margin-top: 35px;
  opacity: 0.8;
}
.header-wrap {
	width: 70%;
	margin: 0 auto;
}