/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require documents
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import "font-awesome-sprockets";
@import "font-awesome";
$dark: #274c5e;
$blue2: #6f8c9c;
$blue1: #1c75bc;
$gray: #797979;
$yellow: #ffbd02;
$black: #4a4a4a;
$white: #f7f7f7;
$dark2: #10558c;
$lightblue: #6b98bb;
$lightgray: #e6e6e6;



body {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1;
	color: $dark;
  background-color: $blue1;
}
h1, h2, h3 {
	font-weight: 300;
  font-family: 'Source Sans Pro';
}
.dark {
	background-color: $yellow !important;
	border: 1px solid #d4ab36 !important;
}
.nav-item {
	margin-left: 15px;
}
.nav-link {
	transition: 0.15s;
	color: $dark2 !important;
  font-weight: 600;
	margin-left: 10px;
	&:hover {
		opacity: 0.8;
	}
}
.navbar {
	font-size: 0.9em;
	background-color: rgba(255, 255, 255, 1);
	padding: 10px 15px;
  border-top: 2px solid #368bd4;
  font-weight: 400;
  .nav-link {
  	padding-top: 0.3em;
		padding-bottom: 0.3em;
  }
  .nav-a {
  	margin-top: 5px;
  }
  .navbar-brand {
  	color: $blue1;
  	font-size: 1.5em;
  	font-weight: 300;
  	transition: 0.15s;
  	&:hover {
  		opacity: 0.8;
  		color: $blue1;
  	}
  	span {
  		font-weight: 700;
  	}
  }
  .nav-logo{
  	width: 34px;
    padding-bottom: -8px;
    margin-top: -3px;
    margin-right: 8px;
  }
}
.default-btn1 {
	padding: 10px 30px;
  color: $white;
  font-weight: 600;
  border-radius: 4px;
  background-color: $yellow;
  text-decoration: none;
  transition: 0.15s;
  font-size: 0.9em;
  border: none;
  &:hover {
  	opacity: 0.8;
  	text-decoration: none;
  	color: $white;
  }
}
.default-btn2 {
	background-color: #1c75bc;
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  color: #FFFFFF !important;
  box-shadow: 0px 1px 1px rgba(187, 187, 187, 0.81);
  text-decoration: none;
  font-weight: 600;
  transition: 0.15s;
  border: 1px solid #1b6eb1;
  border-radius: 4px;
}
footer {
  width: 100%;
  padding: 15px 80px;
  padding-bottom: 25px;
  border-top: 1px solid #3b64a0;
  color: $lightgray;
}
.wrapper {
	margin: 100px 0 60px;
}
.p-info {
	color: $black;
  margin-top: 35px;
  opacity: 0.8;
}
.header-wrap {
	width: 70%;
	margin: 0 auto;
  margin-top: 100px;
}
.bold {
	font-weight: 600;
}
.form-control {
	border-bottom: 2px solid #1c75bc;
	background-color: #FFFFFF;
	color: $dark2;
	box-shadow: 0px 2px 1px rgba(183, 183, 183, 0.3);
	margin-bottom: 30px;
	border-radius: 0px !important;
}
.default-list {
	margin-top: 20px;
	width: 80%;
	li {
		margin-bottom: 20px;
		font-size: 1.1em;
	}
}
.margin-top {
	margin-top: 20px;
}
.default-section {
  background-color: $white;
  padding-top: 50px;
  min-height: 92.5vh;
  padding-bottom: 50px;
}
.f-logo {
  background-image: url("logo-w");
  background-size: 40px;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  float: left;
}
.info-box {
  width: 400px;
  line-height: 1.15;
  margin-top: 11px;
}
.dotbg {
  background-image: url("dotbg");
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: -1vw -0vw;
  -webkit-filter: grayscale(10%);
  filter: grayscale(10%);
}
