.documents {
	table {
		border-collapse: collapse;
		width: 100%;
	}

	tbody {
		border: 1px solid #bbbec3;
	}

	table tr td {
		padding: 5px;
		vertical-align: top;
	}
	tr {
		border-bottom: 1px solid #bbbec3;
		&:last-child {
			border-bottom: none;
		}
	}
	.list_description {
		width: 60%;

		dl {
			margin: 0;
		}

		dt {
			color: #2e4156;
			font-weight: bold;
			font-size: larger;
		}

		dd {
			margin: 0;
		}
	}

	.list_actions {
		text-align: right;
		padding-left: 1em;
	}

	.list_line_even {
		background: #eff5f9;
	}

	.list_line_odd {
		background: #e8edf1;
	}
}