$dark: #274c5e;
$blue2: #6f8c9c;
$blue1: #1c75bc;
$gray: #797979;
$yellow: #ffbd02;
$black: #4a4a4a;
$white: #f7f7f7;
$dark2: #10558c;

.documents {
	table {
		border-collapse: collapse;
		width: 100%;
	}

	tbody {
		border: 1px solid #bbbec3;
	}

	table tr td {
		padding: 5px;
		vertical-align: top;
	}
	tr {
		border-bottom: 1px solid #bbbec3;
		&:last-child {
			border-bottom: none;
		}
	}
	.list_description {
		width: 60%;

		dl {
			margin: 0;
		}

		dt {
			color: #2e4156;
			font-weight: bold;
			font-size: larger;
		}

		dd {
			margin: 0;
		}
	}

	.list_actions {
		text-align: right;
		padding-left: 1em;
	}

	.list_line_even {
		background: #eff5f9;
	}

	.list_line_odd {
		background: #e8edf1;
	}
}
#main_banner {
	margin: 0 auto;
	overflow: auto;
	width: 100%;
	background: #2c93d0 radial-gradient(circle at center, #2eb8ec 0, #1c75bc 30%, #205698 70%);
	background-repeat: no-repeat;
	background-size: 300vw 300vh;
	background-position: -100vw -120vh;
}
.hero {
	flex-direction: column;
  border: none;
  min-height: 35em;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-weight: 400;
    font-size: 3em;
    color: #FFFFFF;
    text-align: center;
  }
}
.blue_bg {
	/* background-color: $blue1; */
	background-color: $white;
	border-top: 1px solid #1b6eb1;
  position: relative;
  h1 {
  	color: $dark;
  	font-weight: 300;
  }
}
.hero_smaller {
	min-height: 26em;
}
.title_button_wrap {
    width: 400px;
    margin-top: 60px;
    h1 {
    	width: auto !important;
    	margin-bottom: 40px;
    	text-align: left;
    	color: $dark2;
    }
}